<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de la Tienda Virtual</title>
  <link rel="stylesheet" href="/css/formulario.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const basePrice = parseInt(localStorage.getItem('totalPrice').replace(/[\D]/g, ''), 10) || 0;
      let shippingCost = 9300;

      const shippingTitleElement = document.querySelector('.envio-title');
      const shippingPriceElement = document.querySelector('.envio-price');
      const priceZone = document.querySelector('.price-zone');
      const selectCity = document.getElementById('ciudad');

      function updateCosts() {
        const cityName = selectCity.options[selectCity.selectedIndex].text;
        const totalCost = basePrice + shippingCost;
        shippingTitleElement.textContent = `Envío ${cityName}`;
        shippingPriceElement.innerHTML = `<span class="dollar-one">$</span>${shippingCost.toLocaleString('de-DE')}`;
        priceZone.innerHTML = `<span class="dollar-sign">$</span>${totalCost.toLocaleString('de-DE')}`;
        document.getElementById('precioFinal').value = totalCost;
      }

      fetch('/data/ciudades.json')
        .then(response => response.json())
        .then(data => {
          data.forEach(city => {
            const option = document.createElement('option');
            option.value = city;
            option.textContent = city;
            if (city === "Bogotá, Distrito Capital") {
              option.selected = true;
            }
            selectCity.appendChild(option);
          });
          updateCosts();
        })
        .catch(error => console.error('Error al cargar las ciudades:', error));

      selectCity.addEventListener('change', function () {
        shippingCost = this.value === "Bogotá, Distrito Capital" ? 9800 : 16000;
        updateCosts();
      });

      document.getElementById('mainForm').addEventListener('submit', function (event) {
        event.preventDefault();
        submitFormWithCart();
      });
    });

    function submitFormWithCart() {
      // Recuperar los valores de los campos del formulario
      const celular = document.getElementById('celular').value;
      const ciudad = document.getElementById('ciudad').value;
      const direccion = document.getElementById('direccion').value;

      // Verificar que ningún campo esté vacío
      if (!celular || !ciudad || !direccion) {
        alert("Por favor, rellene todos los campos.");
        return; // Detiene la ejecución si algún campo está vacío
      }

      // Recuperar los datos adicionales
      const cartData = localStorage.getItem('cart') || '[]';
      const precioFinal = document.getElementById('precioFinal').value;

      // Guardar los detalles en localStorage
      localStorage.setItem('precioFinal', precioFinal);
      localStorage.setItem('ciudad', ciudad);
      localStorage.setItem('direccion', direccion);
      localStorage.setItem('cartData', cartData);

      // Configurar los valores ocultos del formulario para asegurar que se envían correctamente
      document.getElementById('cartData').value = cartData;
      document.getElementById('precioFinal').value = precioFinal;

      // Continuar con el envío del formulario
      document.getElementById('mainForm').submit();
    }

  </script>
</head>

<body>
  <header>
    <a href="#" onclick="window.history.back(); return false;">
      <i class="fas fa-arrow-left" style="font-size:24px;"></i>
    </a>
    <div class="title">Termina tu pedido</div>
  </header>
  <form id="mainForm" action="/guardar-palabra" method="post">
    <input type="number" id="cedula" name="cedula" placeholder="Cédula" required>
    <input type="number" id="celular" name="celular" placeholder="Celular" required>
    <select id="ciudad" name="ciudad" required></select>
    <input type="text" id="direccion" name="direccion" placeholder="Direccion Completa" required>
    <div class="observancia">Por favor indica la direccion completa con casa, edificio y barrio</div>
    <input type="hidden" id="cartData" name="cartData">
    <input type="hidden" id="precioFinal" name="precioFinal">
    <div class="payment-info">
      <i class="fas fa-home"></i> Pago Contraentrega
    </div>
  </form>
  <div class="final-zone">
    <div class="envio">
      <span class="envio-price">9700</span>
      <span class="envio-title">Envío</span>
    </div>
    
  </div>
  <div class="button-zone">
    <div class="price-zone"></div>
    <button type="button" onclick="submitFormWithCart()">Pedir</button>
  </div>
  
</body>

</html>